<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="Parity" value="None"/>
    <add key="StopBits" value="One"/>
    <add key="FlowControl" value="None"/>
    <add key="PacketSize" value="98"/>
  </appSettings>
</configuration>