<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="Parity" value="None"/>
    <add key="StopBits" value="One"/>
    <add key="FlowControl" value="None"/>
    <add key="PacketSize" value="98"/>
    <add key="MeasureIntervallInSeconds" value="60"/>
    <add key="WindDirectionDisplacement" value="0"/>
    <add key="WindComBaseUrl" value="http://vindsiden.no/wrm.aspx?"/>
    <add key="WindComUserAgent" value="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.2; .NET CLR 1.0.3705;)"/>
    <add key="WindComVersion" value="tc65.3.53"/>
    <add key="WindComStationId" value="20"/>
    <add key="WindComStationCC" value="1234"/>
  </appSettings>
</configuration>